@model List<Plant>

<h2>Plants</h2>

<table class="table">
@foreach (var p in Model)
{
    <tr>
        <td>@p.Name</td>
        <td><a href="/Plants/Details/@p.Id">Details</a></td>
    </tr>
}
</table>
