# Visual Studio / .NET
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.ide.*
*.dbmdl

# Rider/JetBrains
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/

# Publish output
publish/
*.azurePubxml

# Vagrant
.vagrant/
secrets.json

OAuth2/appsettings.json