# Visual Studio / .NET
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.ide.*
*.dbmdl

# Rider/JetBrains
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/

# Publish output
publish/
*.azurePubxml

# Vagrant
.vagrant/

.vagrant/
secrets.json

# Ігноруємо локальну базу даних
SmartGreenhouse.Web/SmartGreenhouse.db

SmartGreenhouse.Web/appsettings.json
